services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: "guest"
      RABBITMQ_DEFAULT_PASS: "guest"
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    networks:
      - plan-oplat

  maildev:
    image: maildev/maildev
    container_name: maildev
    environment:
      - TZ=Europe/Kyiv
      - MAILDEV_WEB_PORT=1080
      - MAILDEV_SMTP_PORT=1025
    ports:
      - "8080:1080"
      - "1025:1025"
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
    networks:
      - plan-oplat

  nats:
    image: nats:2.11-alpine
    container_name: nats
    ports:
      - "4222:4222"
    networks:
      - plan-oplat

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8888:8080"
    networks:
      - plan-oplat

volumes:
  rabbitmq-data:

networks:
  plan-oplat:
    driver: bridge
    name: plan-oplat
